.footer{
    clear: both;
    text-align:center;
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   
    background:#5EABE3;
}

.footer span{
    color:white;
    position:relative;
    top:17px;
    font-weight:500;
    letter-spacing: 0.5px;
}
